<% include partials/header.ejs %>
<h1>Admin Register</h1>
<form action="/admin/register" method="POST">
  <input type="text" name="email" placeholder="enter email" />
  <input type="text" name="password" placeholder="enter password" />
  <input type="submit" value="Regiser" />
</form>
<% include partials/footer.ejs %>