<% include partials/header1.ejs %>

<div class="container">
  <h1>Article List</h1>

  <div class="flex jc-between ai-start">
    <div class="flex-30">
      <form action="/articles" method="post">
        <h1>Add Article</h1>
        <input type="text" name="title" placeholder="Enter title" />
        <textarea
          name="description"
          rows="4"
          placeholder="Enter Description"
        ></textarea>
        <input type="number" name="likes" placeholder="Enter likes" />
        <input type="text" name="author" placeholder="Enter Author" />
        <button>Submit Article Details</button>
      </form>
    </div>

    <div class="flex-60">
      <% articles.forEach(article => { %>
      <div class="align-left">
        <h2><%= article.title %></h2>
        <div class="flex jc-between">
          <h3><%= article.description.substr(0, 50) + "..." %></h3>
          <a class="btn" href="/articles/<%= article._id %>">
            Show Details...
          </a>
        </div>
      </div>
      <% }) %>
    </div>
  </div>
</div>

<% include partials/footer.ejs %>