<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <header>
      <div class="container">
        <div class="flex jc-between ai-center">
          <h2><a href="/">Blog</a></h2>

          <ul class="flex jc-around ai-center">
            <li>
              <a class="btn" href="/articles">Back</a>
            </li>
            <li>
              <a class="btn" href="/register/logout">LogOut</a>
            </li>
          </ul>
        </div>
      </div>
    </header>
  </body>
</html>